<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <img :src="image" alt="" srcset="">
            </div>
            <div class="product-info">
                <h1 class="title">{{ title }}</h1>
                <ul v-if="details.length >0">
                    <li v-for="detail in details">{{detail}}</li>
                </ul>
                
                <div 
                    v-for="(variant, index) in variants" 
                    :key="variant.variantId"
                    :style="[colorDivtyle,{backgroundColor: variant.variantColor}]"
                    @mouseover="updateVariant(index)">
                </div>
                
                <p v-if="inStock" >In stock</p>
                <p v-else class="notAvailable">Out of stock</p>
                
                <p v-if="show_description">{{ description }}</p>
                <span v-if="onSale">On Sale</span>
                <p v-if="show_link" ><a :href="google_link" target="_blank">search on google</a></p>

                <button :class="{disabledButton: !inStock}" :disabled="!inStock" @click="incrementCart">Increment cart</button>
                <button :disabled="cartEmpty" @click="decrementCart">Decrement cart</button>
                <div class="cart"><p>Cart({{cart}})</p></div>

            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</body>
</html>